*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    background-color: #b98484;
}
nav{
    background-color: #b98484;
    color: rgb(10, 10, 10);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: rgb(3, 3, 3);
    text-decoration: solid;
}
.hero{
    text-align: center;
    padding: 100px 20px;
    background-color: rgb(253, 252, 252);
}
.hero h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.hero p{
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: #222;
    color: white;
    cursor: pointer;
}
section{
    padding: 60px 20px;
}
.about,
.gallery{
    text-align: center;
}
.gallery img{
    width: 600px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}